* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "roboto";
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #007fd7;
  border-radius: 100vw;
  margin-block: 0.2em;
}

::-webkit-scrollbar-thumb {
  background: #de0606;
  border-radius: 100vw;
  margin-block: 0.5em;
}
::placeholder{
    color: rgba(255, 255, 255, 0.944);
}
*:focus {
  outline: none;
}
input {
  font-size: 15px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 4px;
  min-height: 35px;
  max-width: 200px;
  
}
body{
  overflow-y: scroll;
}
button:hover {
  cursor: pointer;
  opacity: 80%;
}
.container {
  background-image: url("./assets/bg.jpeg");
  width: 100%;
  position: absolute;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  text-shadow: 2px 2px #000000;
}

#title {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  font-family: "comback home";
}

#web1 {
  position: absolute;
  top: -26vh;
  left: -16vw;
  z-index: -1;
}

#web2 {
  filter: invert(1);
  position: absolute;
  top: -17vh;
  right: -12vw;
  overflow-x: hidden;
  z-index: -1;
}

#web3 {
  filter: invert(1);
  position: absolute;
  z-index: 1;
  bottom: -8vh;
  right: 30vw;
  overflow-x: hidden;
  z-index: -1;
}

#spiderman {
  position: absolute;
  height: 100vh;
  top: 0px;
  left: 3.9vw;
  z-index: -1;
}

.wrapper {
  margin-left: 23vw;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.top-wrapper {
  display: flex;
  flex-direction: row;
  margin: 4%;
 
}

.total-budget {
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: top;
}
.budget-name {
  margin-top: 12px;
}
.set-budget {
  display: flex;
  flex-direction: column;
}
.input-btn1 {
  padding: 4px;
  min-height: 30px;
  max-width: 100%;
  font-size: 14px;
  font-weight: bold;
  border-radius: 9px;
  background-color: #df1f2d;
  border: transparent;
  text-align: center;
  margin: 10px;
}
.expense-name {
  margin: 10px;
}
.budget-show {
  margin: 8px;
}
.expenditure {
  margin: 8px;
}
.balance {
  margin: 8px;
}
.budget-display {
  margin: 10px 10px 10px 0px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.input {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  height: max-content;
}

.category-inner {
  display: flex;
  flex-direction: column;
}
.category-input {
  display: flex;
  flex-direction: column;
}

.category-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0px 10px 10px 10px;

}

.category-input input{
    margin: 12px;
}

.category,
.date,
.amount {
  margin: 10px;
  padding: 5px;
}

.input-btn {
    padding: 4px;
    min-height: 30px;
    max-width: 100%;
    font-size: 14px;
    font-weight: bold;
    border-radius: 9px;
    background-color: #df1f2d;
    border: transparent;
    text-align: center;
    margin: 10px;
}

.expense-list {
  z-index: 100;
  margin-left: 5vw;
  padding: 10px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  overflow-y: scroll;
  max-height: 35vh;
  overflow-x: hidden;
  text-shadow: none;
}

.table {
  margin: 20px;
}

.expense-list button {
  background-color: #1e5ea3;
  width: 80%;
  margin: 10px;
  border: none;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
}
.expense-list button:hover {
  background-color: #db2351;
}
.expense-list td {
  padding: 10px;
  word-wrap: break-word;
  max-width: 130px;
  text-align: left;
}

table {
  border-collapse: collapse;
  margin: 10px;
  overflow: scroll;
  border-radius: 10px;
}
th {
  border: 1px solid black;
  margin: 10px;
  padding: 8px;
  text-align: left;
  background-color: #ff2433;
  color: black;
  width: 150px;
  text-align: left;
}

@media screen and (max-width: 860px) {
  * {
    overflow-y: auto;
  }

  .wrapper {
    margin-top: -2vh;
    margin-left: 0vw;
  }

  .top-wrapper {
    display: grid;
    flex-direction: column;
    z-index: 100;
    margin-left: 5vw;
    padding: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
    text-shadow: none;
     
  }

  .budget-balance {
    margin-left: 5%;
  }

  .category-wrapper {
    margin-left: 0;
  }

  .expense-list {
    font-size: 1rem;
    width: 90%;
    margin: 2%;
    max-height: 20vh;
    margin-left: 5vw;
  }
}
